<%- include('partials/head.ejs') %> 
<%- include('partials/navbarHome.ejs') %>
<body>
        <div>
            
        </div>
    <div class="container">
            
        <article>
            <div class="center mb-5">
                <img class="img" src="/img/banner-padrao.svg" alt="">
            </div>
           
            <h2 class="center"> <%= article.title %>  </h2>
            <%- article.body %> 
        </article>
    </div>

</body>

<%- include('partials/footer.ejs') %> 