<%- include('partials/head.ejs') %> 
<%- include('partials/navbarHome.ejs') %>
<body>
   <div class="banner">
       <div class="align-banner">
            <h1 >blog</h1>
            <p>Seja bem-vindo ao melhor blog de tecnologia</p>
            <button class="btn btn-t btn-lilac"><a class="text-light"  href="#">Login</a></button>
            
       </div>
       
   </div>
    <div class="container">
        <div class="row row-cols-xxl-3 row-cols-xl-2 row-cols-xs-1">
            <% articles.forEach(article => {%> 

                <div class="col">
                    <a class="text-light decoration-none" href="/<%= article.slug %> ">
                        <div class="card card-home">
                            <img class="card-img-top" src="img/banner-padrao.svg" alt="Futuristic HUD illustration">
                            <div class="card-body">
                                <span> <%= article.category.title %> </span>
                                <h5 class="card-title"> <%= article.title %> </h5>
                            </div>
                        </div>
                    </a>
                </div>

            <% }) %> 
            
        </div>

        <nav aria-label=" Navegação de página exemplo">
            <div class="center">
                <ul class="pagination">
                  <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                  <li class="page-item"><span class="page-link">1</span></li>
                  <li class="page-item"><a class="page-link" href="/articles/page/2">Próximo</a></li>
                </ul>
            </div>
          </nav>


    </div>

</body>

<%- include('partials/footer.ejs') %> 